<h6>ask your coach anything:</h6>

<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" name="question" class="rounded-left">
   <div class="input-group-append">
  <input type="submit" value="Ask!" class="bg-info text-white">
  </div>
</div>
</form>
